@page "/Ejercicio-9"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #9</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Mostrar los transportistas y la cantidad de envios que han hecho.</p>
    </div>
    <div class="col justify-content-center">
    </div>
</div>

@code {
    
}