@page "/Ejercicio-3"
@using Tarea_5.Models
@using Tarea_5.Dbcontext
@using System.Collections.Generic

<h1 class="text-center">Consulta #3</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>La cantidad de clientes que existen por pais.</p>
    </div>
    <div class="col justify-content-center table-responsive">
        <table class="table table-hover table-bordered border-dark">
            <thead>
                <th>Cantidad de Clientes</th>
                <th>Cantidad de Paises</th>
                <th>Pais</th>
            </thead>
            <tbody>
                <tr>
                    <td>@QuatityCustomer</td>
                    <td>@QuatityCountry</td>
                    <td>@CountryName</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    public int QuatityCustomer {get; set;}    
    public int QuatityCountry {get; set;}
    public string CountryName {get; set;}    

    protected override async Task OnInitializedAsync() 
    { 
        var customers = new northwindContext() .Customers.Select(c => c.CountryRegion).Count();
        QuatityCustomer = customers;
        var country = new northwindContext().Customers.Select(c => c.CountryRegion).Distinct().Count();
        QuatityCountry = country;
        var name = new northwindContext().Customers.Select(c => c.CountryRegion).Distinct().SingleOrDefault();
        CountryName = name;
    }
}