@page "/Ejercicio-5"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #5</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Las unidades vendidas de cada producto, mostradas de mayor a menor: producto y cantidad de unidades vendidas.</p>
    </div>
    <div class="col justify-content-center">
        <table class="table table-hover table-bordered border-dark">
            <thead>
                <th>Nombre de Producto</th>
                <th>Cantidades Vendidas</th>
            </thead>
            <tbody>
                @foreach(Query item in query) 
                {
                    foreach(var result in item.Products)
                    {
                        <tr>
                            <td>@result.ProductName</td>
                            <td>@item.OrderDetails.Quantity</td>
                        </tr>
                    }                    
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public static List<OrderDetails> Order {get; set;}
    public static List<Products> Product {get; set;}
    public static IEnumerable<Query> query {get; set;}

    protected override async Task OnInitializedAsync()
    {
        Order = new northwindContext().OrderDetails.ToList();
        Product = new northwindContext().Products.ToList();

        query = Order.OrderByDescending(o => o.Quantity).GroupJoin(
            Product,
            order => order.ProductId,
            product => product.Id,
            (order, product) => new Query {
                OrderDetails = order,
                Products = product
            }).AsEnumerable();
    }

    public class Query
    {
        public IEnumerable<Products> Products {get; set;}
        public OrderDetails OrderDetails {get; set;}
    }
}