@page "/Ejercicio-5"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #5</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Las unidades vendidas de cada producto, mostradas de mayor a menor: producto y cantidad de unidades vendidas.</p>
    </div>
    <div class="col justify-content-center">
    </div>
</div>

@code {
    
}