@page "/Ejercicio-10"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #10</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Mostrar el cliente que mas dinero ha gastado, mostrar los datos del cliente, la cantidad de ordenes y el total de la misma. (un solo cliente).</p>
    </div>
    <div class="col justify-content-center">
    </div>
</div>

@code {
    
}