@page "/Ejercicio-6"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #6</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Los 10 clientes que mas han comprado, mostrando el codigo, nombre y monto total vendido.</p>
    </div>
    <div class="col justify-content-center">
    </div>
</div>

@code {
    
}