@page "/Ejercicio-4"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #4</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>La cantidad de productos que existen por categoría. Nombre de categoría y cantidad de productos.</p>
    </div>
    <div class="col justify-content-center">
        <table class="table table-hover table-bordered border-dark">
            <thead>
                <th>Categoría</th>
                <th>Cantidad de Productos</th>
            </thead>
            <tbody>
                @foreach(Query categories in GetCategory()) 
                {    
                    <tr>
                        <td>@categories.Categories</td>
                        <td>@categories.Quatity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    IEnumerable<Query> GetCategory() => new northwindContext().Products.GroupBy(p => 
        p.Category, (Category, categories) => new Query {
            Categories = Category,
            Quatity = categories.Count()
        }).AsEnumerable();

    public class Query
    {
        public string Categories {get; set;}
        public int Quatity {get; set;}
    }
}
  