@page "/Ejercicio-8"
@using Tarea_5.Models
@using Tarea_5.Dbcontext

<h1 class="text-center">Consulta #8</h1>
<div class="container">
    <div class="row justify-content-center">
        <p>Mostrar los suplidores y la cantidad de productos que suplen. Mostrarlos de mayor a menor, mostrando el codigo de suplidor, nombre y cantidad de productos que este suple.</p>
    </div>
    <div class="col justify-content-center">
    </div>
</div>

@code {
    
}