@page "/"

<h1 class="text-center">¡Bienvenid@s a la tarea #5 de Programacion III</h1><br />

    <div class="container"></div>
    <div class="row justify-content-center">
        <img class="rounded float-start" style="border: solid 1.5px;" src="CF.jpg" width="150px" height="150px" alt="Sample Photo"/>
    </div><br />
    <div class="row justify-content-center">    
        <ul>
            <li>
                <a><strong>Nombres:</strong> Cristopher Daniel</a>
            </li>
            <li>
                <a><strong>Apellidos:</strong> Figueroa Rosario</a>
            </li>
            <li>
                <a><strong>Matricula:</strong> 2018-6186</a>
            </li>
            <li>
                <a><strong>Numero de telefono:</strong> (849-406-0095)</a>
            </li>
            <li>
                <a><strong>Correo electronico:</strong> 20196186@itla.edu.do</a>
            </li>
        </ul>
    </div>